

.rightcontainer{
    height:  300px;
    width: 78vw;
    background-color: beige;
    margin : 10px 10px 0 10px ;
}

.leftcontainer{
    height: 100%;
    width: 20vw;
    background-color: azure;
}

.serachcontent{
    display: flex;
    gap: 10px;
}

.filterboxtext{
    margin: 20px;
    text-align: left;
}